body {
	background-color :  #8babb3;
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size : 20px;
	scrollbar-base-color :#000000;
}
.table_,td,tr {
  background :lightgray;
	border : 1 solid darkgray;
	color :black;
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size : 15px;
  text-align: left;
  vertical-align: center;
}